<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:schema="http://schema.org/" xmlns:codemeta="https://codemeta.github.io/terms/" xmlns:stype="https://w3id.org/software-types/" prefix="og: https://ogp.me/ns# schema: http:/schema.org codemeta: https://codemeta.github.io/terms/">
    <head>
        {% include "head.html" %}
    </head>
    <body class="cards" {% if buildsite %}x-data="{ 
        filters: [],
        toggle_filter(filter) {
            if (this.filters.includes(filter)) {
                this.filters = this.filters.filter(x => x != filter);
            } else {
                this.filters.push(filter);
            }
        },
        check_filter(filterables) {
            if (this.filters.length == 0) {
                return true;
            } else {
                for (const filter1 of this.filters) {
                    for (const filter2 of filterables) {
                        if (filter1 == filter2) {
                            return true;
                        }
                    }
                }
                return false;
            }
        }
    }"{% endif %}>
        {% include "header.html" %}
        <div class="cardcontainer">
         <div class="margincolumn">
            <div class="toc">
            {% include "toc.html" %}
            </div>
            <div id="filters">
            {% include "filters.html" %}
            </div>
         </div>
         <div class="maincolumn">
            {% include "intro.html" %}
            {% for group, explicit, resources in index %}
            {% if explicit %}
            <div {% if not buildsite %}class="group"{% else %}x-bind:class="(filters.length > 0) ? 'hiddengroup' : 'group'"{% endif %}>
                <h2>{{ group }}</h2>
            {% endif %}
            {% for res, label in resources %}
            {% include 'card_softwaresourcecode.html' %}
            {% endfor %}
            {% if explicit %}
            </div>
            {% endif %}
            {% endfor %}
         </div>
        </div>
        {% include 'indexfooter.html' %}
    </body>
</html>
